{% extends 'layout_stranger.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block bgVid %}
<video src="{% static 'media/bg_login.mp4' %}" type="video/mp4" autoplay loop muted class="background-video"></video>
{% endblock %}

{% block body %}
<div class="index-form-center">
    <div class="index-form-container">
        <p class="index-form-title">LOGIN</p>
        <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="JohnDoe0203" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <input class="btn btn-outline-light" type="submit" value="LOGIN">
        </form>
        <p>Need an account? <a href="{% url 'register' %}">SIGN UP</a></p>
    </div>
</div>
{% endblock %}